.mainContainerLogin {
    background-color: rgb(53, 54, 58);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1;
}




.textField {
    width: 100%;
    color: white;
    background: rgba(255, 0, 0, 0);
    font-family: "Inter";
    text-decoration: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 12px;


}


.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.Login {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center
}

.LoginButton {
    background-color: rgb(90, 101, 234);
    color: white;
    width: 55%;
    height: 48px;
    font-family: "InterBold";
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

.headLine {
    font-family: "InterBold";
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 2px;

}

.LinkForgotPasswordDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 4px;
}

.LinkForgotPassword {
    color: white;
    font-family: "Inter";
    font-size: 12px;
}

.inputField {
    padding-top: 16px;
}

.loginIcon {
    width: 30%;
}

.loginIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8px;
}

.LogoLogin {
    width: 15%;
    padding: 1%;
}