.mainContainerLogin {
    background-color: rgb(53, 54, 58);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #35363a;
}

.page-logo {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 250px; 
}

.login-icon {
    width: 150px; 
    display: block;
    margin: 0 auto; 
}

.wrapper9 {
    width: 420px;
    background: rgba(53, 54, 58, 1);
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(90, 101, 234, 0.3);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper9 h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper9 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    transition: border-color 0.3s, color 0.3s;
}
.input-box input::placeholder {
    color: #fff;
    
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper9 .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper9 .btn9 {
    width: 100%;
    height: 45px;
    background-color: #5A65EA;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.wrapper9 .btn9:hover {
   opacity: 0.5;
}

.wrapper9 .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
.wrapper9 .input-box input:focus::placeholder {
    color: transparent;
}

.input-box input:focus {
    border-color: #ffffff; 
}
