.profileBackground{
    background-color: rgb(35, 36, 40);
    padding: 1px;
    display: flex;
    min-height: 100vh;
}


/*--------ProfileHeaderBox.jsx-----------------*/
.userInfoBox{
border: 1px solid white;
border-radius: 5px;
height: 100px;
display: flex;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;

}
.userInfo{
color: white;
display: flex;
align-items: center;
}
.profileUsername{
margin-left: 10%;
margin-right: 20px;
}
.profileUsernametext{
border: 1px inset white;
padding: 2px;
padding-right: 80px ;
}
.profileEmail{
    margin-left: 10%;
    margin-right: 30px;
}
.profileEmailText{
border: 1px inset white;
padding: 2px;
padding-right: 80px ;

}
.profilePassword{
    margin-left: 10%;
    margin-right: 30px;

}
.profilePasswordtext{
    margin-right: 20px;
    border: 1px inset white;
    padding: 2px;
padding-right: 80px ;

}


/*--------ProfileOverview.jsx-----------------*/
.profileOverviewBox{
    height: 450px;
    border: 1px solid white;
    border-radius: 5px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.profileOverviewProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 15px;
  }

.profileOverviewUserLogo {
    background-color: none;
    border: 2px solid white; 
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative; 
  }
  .profileOverviewSmallUserLogo{
    background-color: white;
    border: 2px solid rgb(35, 36, 40); 
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
 .profileOverviewProfileName{
  color: white;
  }
  .profileOverviewProfileEmail{
    color: white;
  }

.profileOverviewInfo{
    display: flex;
    flex-direction: column;
}
.profileOverviewQuestionLine{
display: flex;
margin-top: 160px;
color:white;

}
.PO_Question{
    margin-right: 143px;
}

.profileOverviewAnswersLine{
    display: flex;
    margin-top: 10px;
    color:white;
    
    }
.PO_Answers{
    margin-right: 149px;
    }
.profileOverviewPLLine{
display: flex;
margin-top: 10px;
color:white;
}
.PO_PL{
  margin-right: 30px;
        }
/*--------ProfilePL_Overview.jsx-----------------*/

.profilePLBox{
border: 1px solid white;
border-radius: 5px;
height: 450px;
width: 100%;
margin-top: 10px;
margin-right: 10px;
}

.profilePLArea{
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
}
.profilePLTitle{
    color: white
}
.PLAndSkillLevel{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ProgrammingLanguages{
    color: white;
}
.Languagesnr{
    margin-bottom: 10px;

}
.SkillLevel{
color:white;
}
.SkillLevelHeader{
    margin-bottom: 10px;
}

.PLdropdown {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    color:white;
    padding: 2px;
    padding-right: 80px;
    margin-top: 5px;
    margin-right: 15px;
  }
  
  .PLdropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    margin: -5px;
  }
  
  .PLdropdown:hover .PLdropdown-content {
    display: block;
    margin-top: 2px;
  }
  .PLarrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 3px;
  }
  .SkillLvldropdown {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    color:white;
    padding: 2px;
    padding-right: 80px;
    margin-top: 5px;
    margin-right: 15px;
    min-width: 160px;
  }
  
  .SkillLvldropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    margin: -5px;
  }
  
  .SkillLvldropdown:hover .SkillLvldropdown-content {
    display: block;
    margin-top: 2px;
  }
   .Skillarrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 80px;
    margin-bottom: 3px;
  }
/*-------------------------*/
.profileOverviewDisplay{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
.profileOverviewDisplay2{
    display: flex;
}