.profileBackground {
    background-color: rgb(35, 36, 40);
    padding: 1px;
    display: flex;
    min-height: 100vh;
    width: 100%;
}


/*--------ProfileHeaderBox.jsx-----------------*/
.profileHeaderText{
    color: white;
    display: flex;
    align-items: center;
    font-family: 'InterBold';
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    margin-top: 10px;
    margin-left: 10px;
}
.userInfoBox {
    background-color: rgb(72, 73, 78);
    border-radius: 5px;
    height: 70px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    

}

.userInfo {
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1px;
    width: 100%;
    justify-content: space-around;
}

.profileUsername {

    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 3px;
}

.profileUsernametext {
    border: 1px inset white;
    background-color: black;
    padding: 3px;
    padding-left: 5px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.profileEmail {

    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 3px;
}

.profileEmailText {
    background-color: black;
    border: 1px inset white;
    padding: 3px;
    padding-left: 5px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

}

.profilePassword {

    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding-top: 3px;
}

.profilePasswordtext {
    background-color: black;
    margin-right: 20px;
    border: 1px inset white;
    padding: 3px;
    padding-left: 5px;
    padding-top: 4px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}


/*--------ProfileOverview.jsx-----------------*/
.profileOverviewBox {
    background-color: rgb(81, 83, 89);
    min-height: 685px;
    max-height: 685px;
    border-radius: 5px;
    min-width: 22%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px; 
    top: 5px;
    position: sticky;   
}

.profileOverviewProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 30px;
}

.profileOverviewUserLogo {
    background-color: rgb(90, 101, 234);
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;
}

.profileOverviewSmallUserLogo {
    background-color: rgb(192, 67, 67);
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    top: -2px;
    right: -4px;
}
.PL_NewMessages{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    margin-top: 2px;
    text-align: center;
}
.profileOverviewProfileName {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
}

.profileOverviewProfileEmail {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-top: 5px;
}

.profileOverviewInfo {
    display: flex;
    flex-direction: column;
}

.profileOverviewQuestionLine {
    display: flex;
    margin-top: 160px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.PO_Question {
    margin-right: 135px;
}

.profileOverviewAnswersLine {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;


}

.PO_Answers {
    margin-right: 138px;
}

.profileOverviewPLLine {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.PO_PL {
    margin-right: 45px;
}

.profileOverviewNewMessagesLine{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}
.PO_NewMes{
    margin-right: 100px;
}
/*--------ProfilePL_Overview.jsx-----------------*/

.profilePLBox {
    background-color: rgb(43, 44, 48);
    border-radius: 5px;
    min-height: 535px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
}

.profilePLArea {
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
}

.profilePLTitle {
    color: white;
    display: flex;
    align-items: center;
    font-family: 'InterBold';
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    margin-top: 10px;
    margin-left: 10px;
}

.PLAndSkillLevel {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ProgrammingLanguages {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

}



.SkillLevel {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.PL{
    background-color: rgb(59, 60, 64);
    position: relative;
       display: inline-block;
       border: 1px solid white;
       padding: 3px;
       padding-left: 5px;
       min-width: 135px;
       max-width: 135px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 10px;
    margin-top: 5px;
       margin-right: 15px;
   }
.PLdropdown {
    background-color: rgb(59, 60, 64);
    position: relative;
    display: inline-block;
    border: 1px solid white;
    color: white;
    margin-top: 5px;
    margin-right: 15px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    padding: 3px;
    padding-left: 5px;
}

.PLdropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: -5px;
}

.PLdropdown:hover .PLdropdown-content {
    display: block;
    margin-top: 3px;
    margin-left: -5px;
}

.PLarrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translate(50%, -50%);
    position: absolute;
    top: 20%;
    right: 12px; 
}

.SkillLvl {
   position: relative;
   background-color: rgb(59, 60, 64);
 display: inline-block;
    border: 1px solid white;
    padding: 3px;
    padding-left: 5px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
margin-top: 5px;
    margin-right: 15px;
}
.SkillLvldropdown {
    position: relative;
    background-color: rgb(59, 60, 64);
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 3px;
    padding-left: 5px;
    margin-top: 5px;
    margin-right: 15px;
    min-width: 135px;
    max-width: 135px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.SkillLvldropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: -5px;
}

.SkillLvldropdown:hover .SkillLvldropdown-content {
    display: block;
    margin-top: 4px;
    margin-left: -5px;
}

.Skillarrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg) translate(50%, -50%);
    position: absolute;
    top: 20%;
    right: 12px; 
}


.discardButton {
    font-size: smaller;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 3px;
    vertical-align: text-bottom;
    margin-left: 75px;
    cursor: pointer;
}

.addProfilediscardButton {
    font-size: smaller;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 3px;
    vertical-align: text-bottom;
    margin-left: 80px;
    cursor: pointer;
}
.ApprovedButton{
    font-size: smaller;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: -1px;
    padding-right: 2px;
    vertical-align: text-bottom;
    margin-right: -65px;
    cursor: pointer;
}
.profileButton{
    display: flex;
    align-items: center;
    font: small-caption;
    margin-top: 18px;
    margin-left: -72px;
}

.addNewLanguages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addNewLanguagesButton {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    /* Set the same value as the height to center vertically */
    background-color: rgb(90, 101, 234);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 3.5em;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
}

.addNewLanguagesText {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
}

/*-------------------------*/
.profileOverviewDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileOverviewDisplay2 {
    display: flex;
}

/*------------Profile_MyAnswers-------------*/
.myAnswersContainer{
    background-color: rgb(43, 44, 48);
    border-radius: 5px;
    min-height: 420px;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
}
.myAnswersHeaderText{
    color: white;
    display: flex;
    align-items: center;
    font-family: 'InterBold';
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    margin-top: 10px;
    margin-left: 10px;   
}
.myAnswerBox{
background-color: rgb(161,162, 167);
border-radius: 5px;
width: 90%;
height: 150px;
margin-left: 5%;
margin-top: 20px;
}

  
  .myAnswerHeadline {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
  }
  
  .myAnswersmallUserLogo3 {
    background-color: rgb(90, 101, 234);
    border: 1px solid white;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
  }
  
  .myAnswerusername {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
  
  }
  
  .myAnsweruserQ {
    display: flex;
    align-items: center;
  }
  
  .myAnswerBody {
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .myAnswerBodyText {
    color: white;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
  }
  
  .myAnswerTags {
    color: white;
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
  }
  
  .myAnswertag {
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
  
  .clicked {
    background: rgb(85, 88, 125);
    border-radius: 5px;
    margin-left: -6px;
    margin-right: -5px;
   font-family: "InterBold";
    padding: 6px;
  }
  