.logoutContainer {
  position: relative;
  top: 70%;
  transform: translateY(-50%);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoutContainer .logout-button {
  background-color: transparent;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: border-width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.logoutIcon {
  margin-right: 5px;
}