.logoutContainer {
  position: absolute;
  bottom: 2.5%;
  right: 33.5%; /* Adjust the right distance as needed */
  transform: translateY(-50%);
  border: 2px solid white;
  border-radius: 10px;
}

.logoutContainer .logout-button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: border-width 0.3s ease;
}

