.page-logo {
    position: absolute; 
    top: 25px; 
    left: 25px; 
    width: 250px; 
}
.forgot_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #35363a;
}

.wrapper11 {
    width: 420px;
    background: rgb(53, 54, 58);
    border: 1px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(90, 101, 234, 0);
    color: #fff;
    
    padding: 30px 40px;
}

.wrapper11 h1 {
    font-size: 28px;
    text-align: center;
}

.wrapper11 .input-box3 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box3 input {
    width: 80%;
    height: 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box3 input::placeholder {
    color: #fff;
}

.input-box3 i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper11 .btn11 {
    width: 100%;
    height: 45px;
    background: #5A65EA;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper11 .btn11:hover {
    opacity: 0.5;
}

.wrapper11 .btn11 {
    width: 100%;
    height: 45px;
    background: #5A65EA;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.wrapper11 .sendCode {
    width: 100%;
    height: 45px;
    background: rgb(53, 54, 58);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper11 .sendAgain {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 255, 255, .75);
    font-weight: 400;

}

.wrapper11 .input-box3 input:focus::placeholder {
    color: transparent;
}

.input-box3 input:focus {
    border-color: #ffffff; 
}

.back-button {
    position: absolute;
    left: 0px; 
    top: 30px; 
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .back-button img {
    width: 35px; 
    margin-right: 5px;
  }